<section data-ng-cloak class="text-left wrapper">
    <!-- the visualizer part on the left -->
    <div class="visualization">
        <div class="wrapper">
            <!-- the protein name and title -->
            <div class="visualization-options" style="line-height: 16px;font-size: 14px;padding: 10px;">
                <span style="font-weight: bold; color: #c1d1e6;">{{::reference.pdbId}}</span>
                chain:
                <span style="font-weight: bold; color: #c1d1e6;">{{::reference.chainId}}</span>
            </div>

            <!-- PV instance -->
            <div id="protein-viewer" class="visualization-options"></div>

            <!-- render options -->
            <div class="visualization-options">
                <!-- interactions -->
                <div class="option pull-right fa fa-link"
                     title="render residue-residue interactions"
                     data-ng-click="viewerOptions.renderInteractions = !viewerOptions.renderInteractions"
                     data-ng-class="{ active: viewerOptions.renderInteractions }"></div>
                <!-- ligands -->
                <div class="option pull-right fa fa-flask"
                     title="render ligands"
                     data-ng-click="viewerOptions.renderLigands = !viewerOptions.renderLigands"
                     data-ng-class="{ active: viewerOptions.renderLigands }"></div>
                <!-- membrane -->
                <div class="option pull-right fa fa-ellipsis-h"
                     title="render ligands"
                     data-ng-click="viewerOptions.renderMembrane = !viewerOptions.renderMembrane"
                     data-ng-class="{ active: viewerOptions.renderMembrane }"></div>
            </div>

            <!-- interaction legend -->
            <div class="visualization-options interaction-type-legend">
                <div data-ng-show="reference.pv.interactions['halogenBonds']" class="clearfix"><span class="interaction-type" style="background-color: #3FFFBF;"></span> halogen bonds</div>
                <div data-ng-show="reference.pv.interactions['hydrogenBonds']" class="clearfix"><span class="interaction-type" style="background-color: #0000FF;"></span> hydrogen bonds</div>
                <div data-ng-show="reference.pv.interactions['metalComplexes']" class="clearfix"><span class="interaction-type" style="background-color: #8C3F99;"></span> metal complexes</div>
                <div data-ng-show="reference.pv.interactions['piCationInteractions']" class="clearfix"><span class="interaction-type" style="background-color: #FF7F00;"></span> pi-cation interactions</div>
                <div data-ng-show="reference.pv.interactions['piStackings']" class="clearfix"><span class="interaction-type" style="background-color: #08CB26;"></span> pi stacking</div>
                <div data-ng-show="reference.pv.interactions['saltBridges']" class="clearfix"><span class="interaction-type" style="background-color: #FFFF00;"></span> salt bridges</div>
                <div data-ng-show="reference.pv.interactions['waterBridges']" class="clearfix"><span class="interaction-type" style="background-color: #BFBFFF;"></span> water bridges</div>
            </div>
        </div>
    </div>

    <!-- the edit/data part on the right -->
    <div class="chain-view">
        <div class="wrapper">
            <!-- general project navigation -->
            <div class="chain-view-header clearfix">
                <div data-ng-class="{ active : isSelected(0) }" data-ng-click="selectTab(0)"><span class="fa fa-info"></span> general</div>
                <div data-ng-class="{ active : isSelected(1) }" data-ng-click="selectTab(1)"><span class="fa fa-link"></span> interactions</div>
                <div data-ng-class="{ active : isSelected(2) }" data-ng-click="selectTab(2)"><span class="fa fa-table"></span> homologous</div>
            </div>

            <div class="tse-scrollable">
                <div class="tse-content">
                    <!-- general information -->
                    <div data-ng-show="isSelected(0)" class="view-tab">
                        <div class="caption">title</div>
                        {{::reference.title}}

                        <div class="caption">ligands</div>
                        <ng-pluralize count="::reference.ligands.length"
                                      when="{'0': 'no ligands',
                                     'one': '1 ligand',
                                     'other': '{} ligands'}">
                        </ng-pluralize>
                        <ng-pluralize count="::(reference.ligands | filter: { type : 'water' }).length"
                                      when="{'0': '(none being water)',
                                 'one': '(1 being water)',
                                 'other': '({} being water)'}">
                        </ng-pluralize>

                        <div class="caption">features</div>
                        <div id="feature-viewer" style="margin-top: -15px;"></div>

                        <div class="caption">topology</div>
                        <div id="topology-viewer" style="padding-top: 40px"></div>
                    </div>

                    <!-- interaction view -->
                    <div data-ng-show="isSelected(1)" class="view-tab">
                        interactions and stuff!
                    </div>

                    <!-- the homologous chain view -->
                    <div data-ng-show="isSelected(2)" class="view-tab">
                        <div class="caption">homologous protein chains</div>
                        <div class="homologous-table">
                            <div class="homologous-table-head homologous-table-row">
                                <div>ID</div>
                                <div>PDB</div>
                                <div>UniProt</div>
                                <div>Pfam</div>
                                <div>IUBMB</div>
                                <div>title</div>
                            </div>
                            <div class="homologous-table-row" data-ng-repeat="chain in ::alignment.chains" data-ng-class="{ reference : chain.id == reference.id }">
                                <div><a data-ng-href="chain/{{::chain.id}}">{{::chain.id}}</a></div>
                                <div><a target="_blank" data-ng-href="http://www.rcsb.org/pdb/explore.do?structureId={{::chain.id | splitToPdbId}}">{{::chain.id | splitToPdbId}}</a></div>
                                <div><a target="_blank" data-ng-href="http://www.uniprot.org/uniprot/{{::chain.uniprot}}">{{::chain.uniprot}}</a></div>
                                <div><a target="_blank" data-ng-href="http://pfam.xfam.org/family/{{::chain.pfam}}">{{::chain.pfam}}</a></div>
                                <div><a target="_blank" data-ng-href="http://www.chem.qmul.ac.uk/iubmb/enzyme/EC{{::chain.ec | ec}}.html">{{::chain.ec}}</a></div>
                                <div>
                                    <div class="overflow-container">
                                        <span class="overflow-ellipsis" title="{{::chain.title}}">
                                            {{::chain.title}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(this).delay(1000).queue(function() {
            $('.tse-scrollable').TrackpadScrollEmulator();

            $(this).dequeue();
        });
    </script>
</section>