<section data-ng-cloak class="text-left wrapper">
    <!-- the visualizer part on the left -->
    <div class="visualization">
        <div class="wrapper">
            <!-- the protein name and title -->
            <div class="visualization-options" style="line-height: 16px;font-size: 14px;padding: 10px;">
                <span style="font-weight: bold; color: #c1d1e6;">{{::protein.stfId}}</span>

                <span style="font-weight: bold; color: #c1d1e6;">{{::protein.pdbId}}_A</span>
            </div>

            <!-- PV instance -->
            <div id="protein-viewer" class="visualization-options"></div>

            <!-- render options -->
            <div class="visualization-options"
                 data-ng-repeat="feature in features"
                 ng-class="{ active : isSelectedFeature($index) }"
                 ng-click="selectFeature($index)"
                 style="line-height: 16px;font-size: 14px;padding: 10px;">
                {{::feature.name}}
            </div>
            <div class="visualization-options" style="line-height: 16px;font-size: 14px;padding: 10px;">
                min: {{protein.scale_min}} max: {{protein.scale_max}}
            </div>
        </div>
    </div>

    <!-- the edit/data part on the right -->
    <div class="chain-view">
        <div class="wrapper">
            <!-- general project navigation -->
            <div class="chain-view-header clearfix">
                <div data-ng-class="{ active : isSelected(0) }" data-ng-click="selectTab(0)"><span class="fa fa-info"></span> general</div>
                <div data-ng-class="{ active : isSelected(1) }" data-ng-click="selectTab(1)"><span class="fa fa-link"></span> contacts</div>
                <div data-ng-class="{ active : isSelected(2) }" data-ng-click="selectTab(2)"><span class="fa fa-table"></span> residues</div>
            </div>

            <div class="tse-scrollable">
                <div class="tse-content">
                    <!-- general information -->
                    <div data-ng-show="isSelected(0)" class="view-tab">
                        <div class="caption">protein title</div>
                        {{::protein.title}}

                        <div class="caption">baseline reconstruction performance</div>
                        <div>average RMSD: {{::protein.averageRmsd}}</div>
                        <div>average TM-score: {{::protein.averageTmScore}}</div>
                        <div>average Q: {{::protein.averageQ}}</div>

                        <div class="caption">feature view</div>
                        <div id="feature-viewer" style="margin-top: -15px;"></div>
                    </div>

                    <!-- interaction view -->
                    <div data-ng-show="isSelected(1)" class="view-tab">
                        <div class="caption">contacts</div>
                        <div class="homologous-table">
                            <div class="homologous-table-head homologous-table-row">
                                <div ng-click="sortTypeContacts = 'residueIdentifier1'; sortReverseContacts = !sortReverseContacts">res1
                                    <span ng-show="sortTypeContacts == 'residueIdentifier1'" ng-class="sortReverseContacts ? 'fa fa-caret-up' : 'fa fa-caret-down'"></span></div>
                                <div ng-click="sortTypeContacts = 'aa1'; sortReverseContacts = !sortReverseContacts">aa1
                                    <span ng-show="sortTypeContacts == 'aa1'" ng-class="sortReverseContacts ? 'fa fa-caret-up' : 'fa fa-caret-down'"></span></div>
                                <div ng-click="sortTypeContacts = 'residueIdentifier2'; sortReverseContacts = !sortReverseContacts">res2
                                    <span ng-show="sortTypeContacts == 'residueIdentifier2'" ng-class="sortReverseContacts ? 'fa fa-caret-up' : 'fa fa-caret-down'"></span></div>
                                <div ng-click="sortTypeContacts = 'aa2'; sortReverseContacts = !sortReverseContacts">aa2
                                    <span ng-show="sortTypeContacts == 'aa2'" ng-class="sortReverseContacts ? 'fa fa-caret-up' : 'fa fa-caret-down'"></span></div>
                                <div ng-click="sortTypeContacts = 'contactDistanceBin'; sortReverseContacts = !sortReverseContacts">bin
                                    <span ng-show="sortTypeContacts == 'contactDistanceBin'" ng-class="sortReverseContacts ? 'fa fa-caret-up' : 'fa fa-caret-down'"></span></div>
                                <div ng-click="sortTypeContacts = 'averageRmsdIncrease'; sortReverseContacts = !sortReverseContacts">avg RMSD decrease
                                    <span ng-show="sortTypeContacts == 'averageRmsdIncrease'" ng-class="sortReverseContacts ? 'fa fa-caret-up' : 'fa fa-caret-down'"></span></div>
                                <!--div ng-click="sortTypeContacts = 'averageTmScoreIncrease'; sortReverseContacts = !sortReverseContacts">avg TM-score increase
                                    <span ng-show="sortTypeContacts == 'averageTmScoreIncrease'" ng-class="sortReverseContacts ? 'fa fa-caret-up' : 'fa fa-caret-down'"></span></div>
                                <div ng-click="sortTypeContacts = 'averageQIncrease'; sortReverseContacts = !sortReverseContacts">avg Q increase
                                    <span ng-show="sortTypeContacts == 'averageQIncrease'" ng-class="sortReverseContacts ? 'fa fa-caret-up' : 'fa fa-caret-down'"></span></div>
                                <div ng-click="sortTypeContacts = 'maximumRmsdIncrease'; sortReverseContacts = !sortReverseContacts">max RMSD decrease
                                    <span ng-show="sortTypeContacts == 'maximumRmsdIncrease'" ng-class="sortReverseContacts ? 'fa fa-caret-up' : 'fa fa-caret-down'"></span></div>
                                <div ng-click="sortTypeContacts = 'maximumTmScoreIncrease'; sortReverseContacts = !sortReverseContacts">max TM-score increase
                                    <span ng-show="sortTypeContacts == 'maximumTmScoreIncrease'" ng-class="sortReverseContacts ? 'fa fa-caret-up' : 'fa fa-caret-down'"></span></div>
                                <div ng-click="sortTypeContacts = 'maximumQIncrease'; sortReverseContacts = !sortReverseContacts">max Q increase
                                    <span ng-show="sortTypeContacts == 'maximumQIncrease'" ng-class="sortReverseContacts ? 'fa fa-caret-up' : 'fa fa-caret-down'"></span></div-->
                                <div ng-click="sortTypeContacts = 'sumRmsdIncrease'; sortReverseContacts = !sortReverseContacts">sum RMSD decrease
                                    <span ng-show="sortTypeContacts == 'sumRmsdIncrease'" ng-class="sortReverseContacts ? 'fa fa-caret-up' : 'fa fa-caret-down'"></span></div>
                                <div ng-click="sortTypeContacts = 'earlyFoldingResidue'; sortReverseContacts = !sortReverseContacts">1 EFR
                                    <span ng-show="sortTypeContacts == 'earlyFoldingResidue'" ng-class="sortReverseContacts ? 'fa fa-caret-up' : 'fa fa-caret-down'"></span></div>
                                <div ng-click="sortTypeContacts = 'earlyFoldingContact'; sortReverseContacts = !sortReverseContacts">2 EFR
                                    <span ng-show="sortTypeContacts == 'earlyFoldingContact'" ng-class="sortReverseContacts ? 'fa fa-caret-up' : 'fa fa-caret-down'"></span></div>
                                <div ng-click="sortTypeContacts = 'plmScore'; sortReverseContacts = !sortReverseContacts">plm score
                                    <span ng-show="sortTypeContacts == 'plmScore'" ng-class="sortReverseContacts ? 'fa fa-caret-up' : 'fa fa-caret-down'"></span></div>
                            </div>
                            <div class="homologous-table-row"
                                 data-ng-repeat="contact in protein.contacts | orderBy:sortTypeContacts:sortReverseContacts"
                                 ng-mouseover="select(contact.residueIdentifier1, contact.residueIdentifier2)"
                                 ng-mouseleave="deselect(contact.residueIdentifier1, contact.residueIdentifier2)">
                                <div>{{contact.residueIdentifier1}}</div>
                                <div>{{contact.aa1}}</div>
                                <div>{{contact.residueIdentifier2}}</div>
                                <div>{{contact.aa2}}</div>
                                <div>{{contact.contactDistanceBin}}</div>
                                <div>{{contact.averageRmsdIncrease}}</div>
                                <!--div>{{contact.averageTmScoreIncrease}}</div>
                                <div>{{contact.averageQIncrease}}</div>
                                <div>{{contact.maximumRmsdIncrease}}</div>
                                <div>{{contact.maximumTmScoreIncrease}}</div>
                                <div>{{contact.maximumQIncrease}}</div-->
                                <div>{{contact.sumRmsdIncrease}}</div>
                                <div>{{contact.earlyFoldingResidue}}</div>
                                <div>{{contact.earlyFoldingContact}}</div>
                                <div>{{contact.plmScore}}</div>
                            </div>
                        </div>
                    </div>

                    <div data-ng-show="isSelected(2)" class="view-tab">
                        <div class="caption">residues</div>
                        <div class="homologous-table">
                            <div class="homologous-table-head homologous-table-row">
                                <div ng-click="sortTypeResidues = 'residueIdentifier'; sortReverseResidues = !sortReverseResidues">res
                                    <span ng-show="sortTypeResidues == 'residueIdentifier'" ng-class="sortReverseContacts ? 'fa fa-caret-up' : 'fa fa-caret-down'"></span></div>
                                <div ng-click="sortTypeResidues = 'aa'; sortReverseResidues = !sortReverseResidues">aa
                                    <span ng-show="sortTypeResidues == 'aa'" ng-class="sortReverseContacts ? 'fa fa-caret-up' : 'fa fa-caret-down'"></span></div>
                                <div ng-click="sortTypeResidues = 'averageRmsdIncrease'; sortReverseResidues = !sortReverseResidues">avg RMSD decrease
                                    <span ng-show="sortTypeResidues == 'averageRmsdIncrease'" ng-class="sortReverseContacts ? 'fa fa-caret-up' : 'fa fa-caret-down'"></span></div>
                                <!--div ng-click="sortTypeResidues = 'averageTmScoreIncrease'; sortReverseResidues = !sortReverseResidues">avg TM-score increase
                                    <span ng-show="sortTypeResidues == 'averageTmScoreIncrease'" ng-class="sortReverseContacts ? 'fa fa-caret-up' : 'fa fa-caret-down'"></span></div>
                                <div ng-click="sortTypeResidues = 'averageQIncrease'; sortReverseResidues = !sortReverseResidues">avg Q increase
                                    <span ng-show="sortTypeResidues == 'averageQIncrease'" ng-class="sortReverseContacts ? 'fa fa-caret-up' : 'fa fa-caret-down'"></span></div>
                                <div ng-click="sortTypeResidues = 'maximumRmsdIncrease'; sortReverseResidues = !sortReverseResidues">max RMSD decrease
                                    <span ng-show="sortTypeResidues == 'maximumRmsdIncrease'" ng-class="sortReverseContacts ? 'fa fa-caret-up' : 'fa fa-caret-down'"></span></div>
                                <div ng-click="sortTypeResidues = 'maximumTmScoreIncrease'; sortReverseResidues = !sortReverseResidues">max TM-score increase
                                    <span ng-show="sortTypeResidues == 'maximumTmScoreIncrease'" ng-class="sortReverseContacts ? 'fa fa-caret-up' : 'fa fa-caret-down'"></span></div>
                                <div ng-click="sortTypeResidues = 'maximumQIncrease'; sortReverseResidues = !sortReverseResidues">max Q increase
                                    <span ng-show="sortTypeResidues == 'maximumQIncrease'" ng-class="sortReverseContacts ? 'fa fa-caret-up' : 'fa fa-caret-down'"></span></div-->
                                <div ng-click="sortTypeResidues = 'sumRmsdIncrease'; sortReverseResidues = !sortReverseResidues">sum RMSD decrease
                                    <span ng-show="sortTypeResidues == 'sumRmsdIncrease'" ng-class="sortReverseContacts ? 'fa fa-caret-up' : 'fa fa-caret-down'"></span></div>
                                <div ng-click="sortTypeResidues = 'earlyFoldingResidue'; sortReverseResidues = !sortReverseResidues">EFR
                                    <span ng-show="sortTypeResidues == 'earlyFoldingResidue'" ng-class="sortReverseContacts ? 'fa fa-caret-up' : 'fa fa-caret-down'"></span></div>
                            </div>
                            <div class="homologous-table-row"
                                 data-ng-repeat="residue in protein.residues | orderBy:sortTypeResidues:sortReverseResidues"
                                 ng-mouseover="select(residue.residueIdentifier)"
                                 ng-mouseleave="deselect(residue.residueIdentifier)">
                                <div>{{residue.residueIdentifier}}</div>
                                <div>{{residue.aa}}</div>
                                <div>{{residue.averageRmsdIncrease}}</div>
                                <!--div>{{residue.averageTmScoreIncrease}}</div>
                                <div>{{residue.averageQIncrease}}</div>
                                <div>{{residue.maximumRmsdIncrease}}</div>
                                <div>{{residue.maximumTmScoreIncrease}}</div>
                                <div>{{residue.maximumQIncrease}}</div-->
                                <div>{{residue.sumRmsdIncrease}}</div>
                                <div>{{residue.earlyFoldingResidue}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(this).delay(1000).queue(function() {
            $('.tse-scrollable').TrackpadScrollEmulator();

            $(this).dequeue();
        });
    </script>
</section>