html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    color: white;
    background-color: #454b52;
    position: relative;
    line-height: 1;
    min-height: 100%;
}

div[data-ng-view] {
    min-height: calc(100% - 48px);
    position: absolute;
    width: 100%;
}

.wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(17, 17, 17, 0.85);
    z-index: 10000;
}

.alert {
    margin-bottom: 0 !important;
    border-radius: 0 !important;
}

/* header/navigation */

header {
    position: relative;
    height: 48px;
    z-index: 101;
    background-color: #22272c;
}

header .logo {
    float: left;
    font-variant: small-caps;
    padding: 13px 17px;
    font-size: 22px;
    font-weight: lighter;
    text-decoration: none;
    border-right: 1px solid #323a41;
    color: #51b2e9;
}

header .context {
    padding: 15px 20px;
    color: #cbddf2;
    font-size: 13px;
    border-right: 1px solid #323a41;
    float: left;
    line-height: 19px;
}

header .menu {
    float: right;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

header .menu li {
    position: relative;
    float: left;
    vertical-align: top;
    height: 100%;
}

header .menu li a {
    display: block;
    height: 100%;
    padding: 15px 20px;
    color: #cbddf2;
    font-size: 13px;
    line-height: 19px;
}

header .menu li a:hover, header .menu li a:active, header .menu li a:focus, header .menu li.active a {
    text-decoration: none;
    background-color: black;
}

/* the home view */
.protein-list > a {
    display: inline-block;
    cursor: pointer;
    padding-right: 0.5em;
    color: white;
}

/* the chain view */
.tse-scrollable, .representation {
    height: calc(100% - 35px);
}

.view-tab {
    padding: 10px;
}

.chain-view {
    position: relative;
    height: 100%;
    overflow: hidden;
    min-width: 400px;
}

.chain-view-header {
    border-bottom: 1px solid #52585f;
    width: 100%;
    overflow: hidden;
}

.option, .chain-view-header > div {
    line-height: 16px;
    font-size: 14px;
    min-width: 35px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: ease-in-out 0.35s;
}

.option {
    border-left: 1px solid #415060;
    color: #52b1e9;
    height: 35px;
    margin: 0 !important;
}

.option.active, .chain-view-header > div.active {
    background-color: rgba(255, 255, 255, 0.05);
    color: #51b2e9;
}

.link a {
    color: #96a3b3 !important;
}

.chain-view-header > div {
    float: left;
    color: #9fb4c7;
    border-right: 1px solid #52585f;
}

/* the protein viewer + controls */
.visualization {
    background-color: #313a41;
    position: relative;
    float: left;
    width: 400px;
    height: 100%;
    color: #96a3b3;
    font-size: 14px;
}

#protein-visualizer {
    height: 401px;
}

.visualization-options {
    border-bottom: 1px solid #415060;
    line-height: 16px;
    font-size: 14px;
    min-width: 35px;
    min-height: 35px;
}

/* the multi-sequence alignment view */
.homologous .ids, .homologous .alignment {
    font-family: monospace;
    color: #9fb4c7;
}

.homologous .ids {
    float: left;
    padding-right: 10px;
}

.homologous .ids input {
    margin: 0 !important;
}

.homologous .alignment {
    overflow-x: scroll;
    white-space: nowrap;
    overflow-y: hidden;
    cursor: pointer;
}

.homologous .alignment .sequence {
    height: 15px;
}

.homologous .alignment span {
    opacity: 0.4;
}

.homologous .alignment span.variant {
    color: #d62728;
    opacity: 1.0;
}

.homologous .alignment span.focus {
    color: #d6d100;
    opacity: 1.0;
}

.homologous .alignment span.hover {
    opacity: 0.9;
}

.homologous .alignment span.annotated {
    border: 1px solid white;
    opacity: 1.0;
}
