html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


body {
    color: white;
    background-color: #454b52;
    position: relative;
    line-height: 1;
    min-height: 100%;
}

div[data-ng-view] {
    min-height: calc(100% - 48px);
    position: absolute;
    width: 100%;
}

.wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(17, 17, 17, 0.85);
    z-index: 10000;
}

.alert {
    margin-bottom: 0 !important;
    border-radius: 0 !important;
}

/* header/navigation */

header {
    position: relative;
    height: 48px;
    z-index: 101;
    background-color: #22272c;
}

header .logo {
    float: left;
    font-variant: small-caps;
    padding: 13px 17px;
    font-size: 22px;
    font-weight: lighter;
    text-decoration: none;
    border-right: 1px solid #323a41;
    color: #51b2e9;
}

header .logo .mutation {
    transition: ease-in-out 0.35s;
}

header .logo:hover .mutation {
    color: #d62728;
}

header .context {
    padding: 15px 20px;
    color: #cbddf2;
    font-size: 13px;
    border-right: 1px solid #323a41;
    float: left;
    line-height: 19px;
}

header .menu {
    float: right;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

header .menu li {
    position: relative;
    float: left;
    vertical-align: top;
    height: 100%;
}

header .menu li a {
    display: block;
    height: 100%;
    padding: 15px 20px;
    color: #cbddf2;
    font-size: 13px;
    line-height: 19px;
}

header .menu li a:hover, header .menu li a:active, header .menu li a:focus, header .menu li.active a {
    text-decoration: none;
    background-color: black;
}

/* the home view */
.protein-list > a {
    display: inline-block;
    cursor: pointer;
    padding-right: 0.5em;
    color: white;
}

/* the chain view */
.chain-view {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.tse-scrollable, .representation {
    height: calc(100% - 35px);
}

.view-tab {
    padding: 10px;
}

.chain-view-header {
    border-bottom: 1px solid #52585f;
    width: 100%;
    overflow: hidden;
}

.option, .chain-view-header > div {
    line-height: 16px;
    font-size: 14px;
    min-width: 35px;
    padding: 10px;
    transition: ease-in-out 0.35s;
    text-align: center;
    cursor: pointer;
}

.option {
    border-left: 1px solid #415060;
    height: 35px;
    margin: 0 !important;
}

.option.active, .chain-view-header > div.active {
    background-color: rgba(255, 255, 255, 0.05);
    color: #51b2e9;
}

.chain-view-header > div {
    float: left;
    color: #9fb4c7;
    border-right: 1px solid #52585f;
}

/* the protein viewer + controls */
.visualization {
    background-color: #313a41;
    position: relative;
    float: left;
    width: 400px;
    height: 100%;
    color: #96a3b3;
    font-size: 14px;
}

#protein-visualizer {
    height: 401px;
}

.visualization-options {
    border-bottom: 1px solid #415060;
    line-height: 16px;
    font-size: 14px;
    min-width: 35px;
    min-height: 35px;
}

/* the general info page for each protein */
.view-tab {
    color: #cfd8dc;
}

.caption {
    font-size: 8pt;
    font-weight: 500;
    text-transform: uppercase;
    color: #a4afbb;
    margin-bottom: 8px;
}

.caption:not(:first-child) {
    margin-top: 12px;
}

.homologous-table {
    margin: 0 -5px;
    display: table;
    width: 100%;
}

.homologous-table-row {
    display: table-row;
}

.homologous-table-row > div {
    display: table-cell;
    padding: 5px;
}

.homologous-table-row > div:last-child {
    width: 100%;
}

.homologous-table-head {
    font-weight: bold;
}

.homologous-table-head, .homologous-table-row:nth-child(odd) {
    background-color: #4f555c;
}

.homologous-table-row.reference, .homologous-table-row.reference a, .homologous-table-row.reference a:active, .homologous-table-row.reference a:visited {
    color: #51b2e9;
}

.homologous-table a, .homologous-table a:active, .homologous-table a:visited {
    color: white;
    text-decoration: none;
    transition: ease-in-out 0.35s;
}

.homologous-table a:hover {
    color: #51b2e9;
    text-decoration: none;
}

.overflow-container {
    position: relative;
}

.overflow-ellipsis {
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    min-width: 0;
}

.overflow-container:after, .overflow-ellipsis:after {
    content: '-';
    display: inline-block;
    visibility: hidden;
}

/* the multi-sequence alignment view */
.alignment .ids, .homologous .sequences {
    font-family: monospace;
    color: white;
}

.alignment .ids {
    float: left;
    padding: 15px 10px 0 0;
}

.alignment .ids div {
    height: 15px;
    cursor: pointer;
}

.alignment .ids .selected {
    color: #52b1e9;
}

.alignment .sequences {
    overflow-x: scroll;
    overflow-y: hidden;
    cursor: pointer;
}

.alignment .position-label {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}

.alignment .position {
    width: 1em;
    display: table-cell;
    line-height: 15px;
    position: relative;
    padding-top: 15px;
    color: #abafb3;
}

.alignment .position.hover .position-char {
    color: #52b1e9 !important;
}

.alignment .position.mutation .position-char {
    border: 1px solid purple;
    color: #ffffff;
}

.alignment .position.variation .position-char {
    border: 1px solid deeppink;
    color: #ffffff;
}

.alignment .position.activeSite .position-char {
    border: 1px solid rebeccapurple;
    color: #ffffff;
}

.alignment .position .annotation {
    position: absolute;
    display: none;
    top: 50%;
    left: -100px;
    border: 1px solid #ccc;
    background-color: white;
    z-index: 1000;
    white-space: nowrap;
}

.alignment .position:hover .annotation {
    display: block;
}

option {
    color: black;
}