<section data-ng-cloak class="text-left wrapper" xmlns="http://www.w3.org/1999/html">
    <!--div data-ng-show="loadingModel" class="overlay"></div-->

    <!-- the visualizer part on the left -->
    <div class="visualization">
        <div class="wrapper">
            <div class="dropdown-select visualization-options"
                 title="select feature to color visualization"
                 data-dropdown-select="::features"
                 data-dropdown-model="viewerOptions.coloringFeature"
                 data-dropdown-item-label="name">
            </div>

            <!-- PV instance -->
            <div id="protein-visualizer" class="visualization-options"></div>

            <!-- general render options -->
            <div class="visualization-options">
                <!-- ligands -->
                <div class="option pull-right"
                     data-ng-click="viewerOptions.renderLigands = !viewerOptions.renderLigands"
                     data-ng-class="{ active: viewerOptions.renderLigands }">render ligands</div>
            </div>

            <!-- PLIP options -->
            <div class="dropdown-select visualization-options"
                 title="select interaction type to visualize"
                 data-dropdown-select="::interactionTypes"
                 data-dropdown-model="viewerOptions.interactionType"
                 data-dropdown-item-label="name">
            </div>
            <div class="visualization-options" data-ng-show="loadingModel">loading model data...</div>
            <div class="visualization-options" data-ng-show="loadingAlignment">loading alignment...</div>
            <div class="visualization-options" data-ng-show="loadingStructure">loading structure...</div>
        </div>
    </div>

    <!-- the edit/data part on the right -->
    <div class="chain-view">
        <div class="wrapper">
            <!-- general project navigation -->
            <div class="chain-view-header clearfix">
                <div data-ng-class="{ active : isSelected(0) }" data-ng-click="selectTab(0)"><span class="fa fa-info"></span> general</div>
                <div data-ng-class="{ active : isSelected(1) }" data-ng-click="selectTab(1)"><span class="fa fa-bars"></span> homologous</div>
                <div data-ng-class="{ active : isSelected(2) }" data-ng-click="selectTab(2)"><span class="fa fa-arrows-h"></span> mutate</div>
            </div>

            <div class="tse-scrollable">
                <div class="tse-content">
                    <div data-ng-show="isSelected(0)" class="view-tab">
                        <div class="caption">title</div>
                        {{::reference.title}}

                        <div class="caption">ligands</div>
                        <ng-pluralize count="::reference.ligands.length"
                                      when="{'0': 'no ligands',
                                     'one': '1 ligand',
                                     'other': '{} ligands'}">
                        </ng-pluralize>
                        <ng-pluralize count="::(reference.ligands | filter: { type : 'water' }).length"
                                      when="{'0': '(none being water)',
                                 'one': '(1 being water)',
                                 'other': '({} being water)'}">
                        </ng-pluralize>

                        <div id="feature-viewer"></div>
                    </div>

                    <!-- general information -->
                    <div data-ng-show="isSelected(1)" class="view-tab">
                        <div class="caption">homologous protein chains</div>
                        <div class="homologous-table">
                            <div class="homologous-table-head homologous-table-row">
                                <div>ID</div>
                                <div>PDB</div>
                                <div>UniProt</div>
                                <div>Pfam</div>
                                <div>IUBMB</div>
                                <div>title</div>
                            </div>
                            <div class="homologous-table-row" data-ng-repeat="chain in ::alignment.chains" data-ng-class="{ reference : chain.id == reference.id }">
                                <div><a data-ng-href="chain/{{::chain.id}}">{{::chain.id}}</a></div>
                                <div><a target="_blank" data-ng-href="http://www.rcsb.org/pdb/explore.do?structureId={{::chain.id | splitToPdbId}}">{{::chain.id | splitToPdbId}}</a></div>
                                <div><a target="_blank" data-ng-href="http://www.uniprot.org/uniprot/{{::chain.uniprot}}">{{::chain.uniprot}}</a></div>
                                <div><a target="_blank" data-ng-href="http://pfam.xfam.org/family/{{::chain.pfam}}">{{::chain.pfam}}</a></div>
                                <div><a target="_blank" data-ng-href="http://www.chem.qmul.ac.uk/iubmb/enzyme/EC{{::chain.ec | ec}}.html">{{::chain.ec}}</a></div>
                                <div>
                                    <div class="overflow-container">
                                        <span class="overflow-ellipsis" title="{{::chain.title}}">
                                            {{::chain.title}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div data-ng-show="isSelected(2)" class="view-tab" data-ng-controller="MutationController">
                        <div data-ng-show="onStep(0)" class="mutation-step">
                            step 1: select residue to mutate
                            <select data-ng-model="mutationResidue" data-ng-options="x for x in reference.hydrogenBonds"></select>
                        </div>
                        <div data-ng-show="onStep(1)" class="mutation-step">
                            step 2:
                        </div>
                        <div data-ng-show="onStep(2)" class="mutation-step">
                            step 3:
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(this).delay(1000).queue(function() {
            $('.tse-scrollable').TrackpadScrollEmulator();

            $(this).dequeue();
        });
    </script>
</section>