<section data-ng-cloak class="text-left wrapper">
    <div data-ng-show="loading" class="overlay"></div>

    <!-- the visualizer part on the left -->
    <div class="visualization">
        <div class="wrapper">
            <div class="visualization-body">
                <!-- general information TODO breadcrumb-esque navigation of currently selected elements -->
                <div style="padding: 10px;">{{::protein.name}}</div>
                <div style="padding: 10px;">{{::protein.uniprot}}</div>
                <div style="padding: 10px;">{{::protein.title}}</div>

                <!-- PV instance -->
                <div id="protein-visualizer" class="visualizer-tab"></div>

                <div class="dropdown-select"
                     title="select feature to color visualization"
                     data-dropdown-select="features"
                     data-dropdown-model="options.coloringFeature"
                     data-dropdown-item-label="name">
                </div>

                <!-- general render options -->
                <div class="visualization-options">
                    <!-- membrane -->
                    <div class="option fa fa-ellipsis-h pull-right"
                         data-ng-click="options.renderMembrane = !options.renderMembrane"
                         data-ng-class="{active: options.renderMembrane}"
                         title="render membrane layer"></div>
                    <!-- kinks -->
                    <div class="option fa fa-angle-right pull-right"
                         data-ng-click="options.renderKinks = !options.renderKinks"
                         data-ng-class="{active: options.renderKinks}"
                         title="render helix kinks"></div>
                    <!-- ligands -->
                    <div class="option fa fa-angle-right pull-right"
                         data-ng-click="options.renderLigands = !options.renderLigands"
                         data-ng-class="{active: options.renderLigands}"
                         title="render ligands"></div>
                </div>

                <!-- PLIP options -->
                <div class="visualization-options">
                    <div class="option fa fa-exchange pull-right"
                         data-ng-click="options.renderWaterBridges = !options.renderWaterBridges"
                         data-ng-class="{active: options.renderWaterBridges}"
                         title="render water bridges"
                         data-ng-show="protein.waterBridges.length > 0"></div>
                    <div class="option fa fa-exchange pull-right"
                         data-ng-click="options.renderSaltBridges = !options.renderSaltBridges"
                         data-ng-class="{active: options.renderSaltBridges}"
                         title="render salt bridges"
                         data-ng-show="protein.saltBridges.length > 0"></div>
                    <div class="option fa fa-database pull-right"
                         data-ng-click="options.renderPiStackings = !options.renderPiStackings"
                         data-ng-class="{active: options.renderPiStackings}"
                         title="render pi-stackings"
                         data-ng-show="protein.piStackings.length > 0"></div>
                    <div class="option fa fa-link pull-right"
                         data-ng-click="options.renderPiCationInteractions = !options.renderPiCationInteractions"
                         data-ng-class="{active: options.renderPiCationInteractions}"
                         title="render pi-cation interactions"
                         data-ng-show="protein.piCationInteractions.length > 0"></div>
                    <div class="option fa fa-arrows pull-right"
                         data-ng-click="options.renderMetalComplexes = !options.renderMetalComplexes"
                         data-ng-class="{active: options.renderMetalComplexes}"
                         title="render metal complexes"
                         data-ng-show="protein.metalComplexes.length > 0"></div>
                    <div class="option fa fa-chain-broken pull-right"
                         data-ng-click="options.renderHydrophobicInteractions = !options.renderHydrophobicInteractions"
                         data-ng-class="{active: options.renderHydrophobicInteractions}"
                         title="render hydrophobic interactions"
                         data-ng-show="protein.hydrophobicInteractions.length > 0"></div>
                    <div class="option fa fa-exchange pull-right"
                         data-ng-click="options.renderHydrogenBonds = !options.renderHydrogenBonds"
                         data-ng-class="{active: options.renderHydrogenBonds}"
                         title="render hydrogen bonds"
                         data-ng-show="protein.hydrogenBonds.length > 0"></div>
                    <div class="option fa fa-exchange pull-right"
                         data-ng-click="options.renderHalogenBonds = !options.renderHalogenBonds"
                         data-ng-class="{active: options.renderHalogenBonds}"
                         title="render halogen bonds"
                         data-ng-show="protein.halogenBonds.length > 0"></div>
                </div>

                <!-- PV render mode selection -->
                <!--<div class="dropdown-select"
                     title="select PV's render mode"
                     dropdown-select="renderModes"
                     dropdown-model="options.renderMode"
                     dropdown-item-label="text">
                </div>-->

                <!-- legends of coloring features -->
                <div class="legend" data-ng-hide="options.coloringFeature.tag != 'sse'">
                    <div style="color: hsl({{($index / (secondaryStructures.length - 1)) * 120}}, 60%, 70%);"
                         data-ng-repeat="secondaryStructure in secondaryStructures">{{secondaryStructure}}</div>
                </div>
                <div class="legend" data-ng-hide="options.coloringFeature.discrete">
                    <div style="color: hsl(0, 60%, 70%);">min</div>
                    <div style="color: hsl(60, 60%, 70%);">average</div>
                    <div style="color: hsl(120, 60%, 70%);">max</div>
                </div>

                <!-- external resources -->
                <div class="visualization-options">
                    <div class="option link pull-right" title="show in MMDB">
                        <a target="_blank" data-ng-href="https://www.ncbi.nlm.nih.gov/Structure/mmdb/mmdbsrv.cgi?uid={{::protein.name}}">MMDB</a>
                        <span class="fa fa-external-link"></span>
                    </div>
                    <div class="option link pull-right" title="show in OPM">
                        <a target="_blank" data-ng-href="http://opm.phar.umich.edu/protein.php?search={{::protein.name}}">OPM</a>
                        <span class="fa fa-external-link"></span>
                    </div>
                    <div class="option link pull-right" title="show in UniProt">
                        <a target="_blank" data-ng-href="http://www.uniprot.org/uniprot/{{::protein.uniprot}}">UniProt</a>
                        <span class="fa fa-external-link"></span>
                    </div>
                    <div class="option link pull-right" title="show in PDB">
                        <a target="_blank" data-ng-href="http://www.rcsb.org/pdb/explore.do?structureId={{::protein.name}}">PDB</a>
                        <span class="fa fa-external-link"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- the edit/data part on the right -->
    <div class="sequence" data-ng-controller="TabController as tab">
        <div class="wrapper">
            <!-- general project information -->
            <div class="sequence-header clearfix">
                <div data-ng-class="{ active: tab.isSelected(1) }" data-ng-click="tab.selectTab(1)">sequence</div>
                <div data-ng-class="{ active: tab.isSelected(2) }" data-ng-click="tab.selectTab(2)">ligands</div>
                <div data-ng-class="{ active: tab.isSelected(3) }" data-ng-click="tab.selectTab(3)">sequence motifs</div>
                <div data-ng-class="{ active: tab.isSelected(4) }" data-ng-click="tab.selectTab(4)">helices</div>
                <div data-ng-class="{ active: tab.isSelected(5) }" data-ng-click="tab.selectTab(5)">kinks</div>
            </div>

            <div class="tse-scrollable">
                <div class="tse-content">
                    <!-- chains -->
                    <div data-ng-show="tab.isSelected(1)" class="representation">
                        <div class="chain" data-ng-repeat="chain in protein.chains">
                            <div class="chainId"
                                 data-ng-mouseover="highlight(chain.id)"
                                 data-ng-mouseleave="deselect()">
                                <div>chain {{::chain.id}}</div>
                            </div>
                            <div class="groups">
                                <div class="group"
                                 style="color: hsl({{group[options.coloringFeature.tag] * 120}}, 60%, 70%);"
                                 data-ng-repeat="group in chain.groups | filter: { type : 'aa' } : true"
                                 data-ng-mouseover="highlight(chain.id, group.resn)"
                                 data-ng-mouseleave="deselect()">{{::group.olc}}</div>
                            </div>
                        </div>
                    </div>

                    <!-- ligands -->
                    <div data-ng-show="tab.isSelected(2)" class="representation">
                        <div class="chain"
                             data-ng-mouseover="highlight(ligand.chain, ligand.resn)"
                             data-ng-mouseleave="deselect()"
                             data-ng-repeat="ligand in protein.ligands | filter: { type : '!water' } | orderBy: 'tlc'">
                            <div class="chainId">
                                <div>{{::ligand.tlc}}</div>
                            </div>
                            <div class="groups">
                                <div class="group">{{::ligand.name}}</div>
                            </div>
                        </div>
                    </div>

                    <!-- sequence motifs -->
                    <div data-ng-show="tab.isSelected(3)" class="representation">
                        <div class="chain"
                             data-ng-mouseover="highlight(motif.chain, motif.start, motif.end)"
                             data-ng-mouseleave="deselect()"
                             data-ng-repeat="motif in protein.sequenceMotifs | orderBy: 'type'">
                            <div class="chainId">
                                <div>{{::motif.type}}</div>
                            </div>
                            <div class="groups">
                                <div class="group">chain: {{::motif.chain}}</div>
                                <div class="group">range: {{::motif.start}}-{{::motif.end}}</div>
                                <div class="group">sequence: {{::motif.sequence}}</div>
                            </div>
                        </div>
                    </div>

                    <!-- helices -->
                    <div data-ng-show="tab.isSelected(4)" class="representation">
                        <div class="chain"
                             data-ng-mouseover="highlight(helix.chain, helix.start, helix.end)"
                             data-ng-mouseleave="deselect()"
                             data-ng-repeat="helix in protein.helices">
                            <div class="chainId">
                                <div>H{{::$index + 1}}</div>
                            </div>
                            <div class="groups">
                                <div class="group">chain: {{::helix.chain}}</div>
                                <div class="group">range: {{::helix.start}}-{{::helix.end}}</div>
                            </div>
                        </div>
                    </div>

                    <!-- kinks -->
                    <div data-ng-show="tab.isSelected(5)" class="representation">
                        <div class="chain"
                             data-ng-mouseover="highlight(kink.chain, kink.kinkPosition)"
                             data-ng-mouseleave="deselect()"
                             data-ng-repeat="kink in protein.kinks">
                            <div class="chainId">
                                <div>{{::kink.chain}}-{{::kink.kinkPosition}}</div>
                            </div>
                            <div class="groups">
                                <div class="group">chain: {{::kink.chain}}</div>
                                <div class="group">kink position: {{::kink.kinkPosition}}</div>
                                <div class="group">angle: {{::kink.angle}}</div>
                                <div class="group">error: {{::kink.error}}</div>
                                <div class="group">sequence: {{::kink.sequence}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        //TODO this is ugly
        $(this).delay(1000).queue(function() {
            $('.tse-scrollable').TrackpadScrollEmulator();

            $(this).dequeue();
        });
    </script>
</section>