<section data-ng-cloak class="text-left wrapper">
    <div data-ng-show="loading" class="overlay"></div>

    <!-- the visualizer part on the left -->
    <div class="visualization">
        <div class="wrapper">
            <div class="visualization-body">
                <div class="dropdown-select"
                     title="select feature to color visualization"
                     data-dropdown-select="features"
                     data-dropdown-model="options.coloringFeature"
                     data-dropdown-item-label="name">
                </div>

                <!-- PV instance -->
                <div id="protein-visualizer" class="visualizer-tab"></div>

                <!-- general render options -->
                <div class="visualization-options">
                    <!-- membrane -->
                    <div class="option fa fa-ellipsis-h pull-right"
                         data-ng-click="options.renderMembrane = !options.renderMembrane"
                         data-ng-class="{active: options.renderMembrane}"
                         title="render membrane layer"></div>
                    <!-- kinks -->
                    <div class="option fa fa-angle-right pull-right"
                         data-ng-click="options.renderKinks = !options.renderKinks"
                         data-ng-class="{active: options.renderKinks}"
                         title="render helix kinks"></div>
                    <!-- ligands -->
                    <div class="option fa fa-angle-right pull-right"
                         data-ng-click="options.renderLigands = !options.renderLigands"
                         data-ng-class="{active: options.renderLigands}"
                         title="render ligands"></div>
                </div>

                <!-- PLIP options -->
                <div class="visualization-options">
                    <div class="option fa fa-exchange pull-right"
                         data-ng-click="options.renderWaterBridges = !options.renderWaterBridges"
                         data-ng-class="{active: options.renderWaterBridges}"
                         title="render water bridges"
                         data-ng-show="protein.waterBridges.length > 0"></div>
                    <div class="option fa fa-exchange pull-right"
                         data-ng-click="options.renderSaltBridges = !options.renderSaltBridges"
                         data-ng-class="{active: options.renderSaltBridges}"
                         title="render salt bridges"
                         data-ng-show="protein.saltBridges.length > 0"></div>
                    <div class="option fa fa-database pull-right"
                         data-ng-click="options.renderPiStackings = !options.renderPiStackings"
                         data-ng-class="{active: options.renderPiStackings}"
                         title="render pi-stackings"
                         data-ng-show="protein.piStackings.length > 0"></div>
                    <div class="option fa fa-link pull-right"
                         data-ng-click="options.renderPiCationInteractions = !options.renderPiCationInteractions"
                         data-ng-class="{active: options.renderPiCationInteractions}"
                         title="render pi-cation interactions"
                         data-ng-show="protein.piCationInteractions.length > 0"></div>
                    <div class="option fa fa-arrows pull-right"
                         data-ng-click="options.renderMetalComplexes = !options.renderMetalComplexes"
                         data-ng-class="{active: options.renderMetalComplexes}"
                         title="render metal complexes"
                         data-ng-show="protein.metalComplexes.length > 0"></div>
                    <div class="option fa fa-chain-broken pull-right"
                         data-ng-click="options.renderHydrophobicInteractions = !options.renderHydrophobicInteractions"
                         data-ng-class="{active: options.renderHydrophobicInteractions}"
                         title="render hydrophobic interactions"
                         data-ng-show="protein.hydrophobicInteractions.length > 0"></div>
                    <div class="option fa fa-exchange pull-right"
                         data-ng-click="options.renderHydrogenBonds = !options.renderHydrogenBonds"
                         data-ng-class="{active: options.renderHydrogenBonds}"
                         title="render hydrogen bonds"
                         data-ng-show="protein.hydrogenBonds.length > 0"></div>
                    <div class="option fa fa-exchange pull-right"
                         data-ng-click="options.renderHalogenBonds = !options.renderHalogenBonds"
                         data-ng-class="{active: options.renderHalogenBonds}"
                         title="render halogen bonds"
                         data-ng-show="protein.halogenBonds.length > 0"></div>
                </div>

                <!-- PV render mode selection -->
                <!--<div class="dropdown-select"
                     title="select PV's render mode"
                     dropdown-select="renderModes"
                     dropdown-model="options.renderMode"
                     dropdown-item-label="text">
                </div>-->

                <!-- legends of coloring features -->
                <div class="legend" data-ng-hide="options.coloringFeature.tag != 'sse'">
                    <div style="color: hsl({{($index / (secondaryStructures.length - 1)) * 120}}, 60%, 70%);"
                         data-ng-repeat="secondaryStructure in secondaryStructures">{{secondaryStructure}}</div>
                </div>
                <div class="legend" data-ng-hide="options.coloringFeature.discrete">
                    <div style="color: hsl(0, 60%, 70%);">min</div>
                    <div style="color: hsl(60, 60%, 70%);">average</div>
                    <div style="color: hsl(120, 60%, 70%);">max</div>
                </div>
            </div>
        </div>
    </div>

    <!-- the edit/data part on the right -->
    <div class="sequence" data-ng-controller="TabController as tab">
        <div class="wrapper">
            <!-- general project navigation -->
            <div class="sequence-header clearfix">
                <div data-ng-class="{ active: tab.isSelected(1) }" data-ng-click="tab.selectTab(1)">sequence</div>
                <div data-ng-class="{ active: tab.isSelected(2) }" data-ng-click="tab.selectTab(2)">ligands</div>
                <div data-ng-class="{ active: tab.isSelected(3) }" data-ng-click="tab.selectTab(3)">sequence motifs</div>
                <div data-ng-class="{ active: tab.isSelected(4) }" data-ng-click="tab.selectTab(4)">helices</div>
                <div data-ng-class="{ active: tab.isSelected(5) }" data-ng-click="tab.selectTab(5)">kinks</div>
                <div data-ng-class="{ active: tab.isSelected(6) }" data-ng-click="tab.selectTab(6)">mutations</div>

                <div class="option link pull-right" title="show in MMDB">
                    <a target="_blank" data-ng-href="//www.ncbi.nlm.nih.gov/Structure/mmdb/mmdbsrv.cgi?uid={{::protein.name}}">MMDB</a>
                    <span class="fa fa-external-link"></span>
                </div>
                <div class="option link pull-right" title="show in OPM">
                    <a target="_blank" data-ng-href="//opm.phar.umich.edu/protein.php?search={{::protein.name}}">OPM</a>
                    <span class="fa fa-external-link"></span>
                </div>
                <div class="option link pull-right" title="show in UniProt">
                    <a target="_blank" data-ng-href="//www.uniprot.org/uniprot/{{::protein.uniprot}}">UniProt</a>
                    <span class="fa fa-external-link"></span>
                </div>
                <div class="option link pull-right" title="show in PDB">
                    <a target="_blank" data-ng-href="//www.rcsb.org/pdb/explore.do?structureId={{::protein.name}}">PDB</a>
                    <span class="fa fa-external-link"></span>
                </div>
            </div>

            <div class="tse-scrollable">
                <div class="tse-content">
                    <!-- chains -->
                    <div data-ng-show="tab.isSelected(1)" class="representation">
                        <div class="chain" data-ng-repeat="chain in protein.chains">
                            <div class="elementId"
                                 data-ng-mouseover="highlight(chain.id)"
                                 data-ng-mouseleave="deselect()">
                                <div>chain {{::chain.id}}</div>
                            </div>
                            <div class="elements">
                                <div class="group"
                                 style="color: hsl({{group[options.coloringFeature.tag] * 120}}, 60%, 70%);"
                                 data-ng-repeat="group in chain.groups | filter: { type : 'aa' } : true"
                                 data-ng-mouseover="highlight(chain.id, group.resn)"
                                 data-ng-mouseleave="deselect()">{{::group.olc}}</div>
                            </div>
                        </div>
                    </div>

                    <!-- ligands -->
                    <div data-ng-show="tab.isSelected(2)" class="representation">
                        <div class="chain"
                             data-ng-mouseover="highlight(ligand.chain, ligand.resn)"
                             data-ng-mouseleave="deselect()"
                             data-ng-repeat="ligand in protein.ligands | filter: { type : '!water' } | orderBy: 'tlc'">
                            <div class="elementId">
                                <div>{{::ligand.tlc}}</div>
                            </div>
                            <div class="elements">
                                <div class="element">{{::ligand.name}}</div>
                            </div>
                        </div>
                    </div>

                    <!-- sequence motifs -->
                    <div data-ng-show="tab.isSelected(3)" class="representation">
                        <div class="chain"
                             data-ng-mouseover="highlight(motif.chain, motif.start, motif.end)"
                             data-ng-mouseleave="deselect()"
                             data-ng-repeat="motif in protein.sequenceMotifs | orderBy: 'type'">
                            <div class="elementId">
                                <div>{{::motif.type}}</div>
                            </div>
                            <div class="elements">
                                <div class="element">chain: {{::motif.chain}}<br />
                                    range: {{::motif.start}}-{{::motif.end}}<br />
                                    sequence: {{::motif.sequence}}</div>
                            </div>
                        </div>
                    </div>

                    <!-- helices -->
                    <div data-ng-show="tab.isSelected(4)" class="representation">
                        <div class="chain"
                             data-ng-mouseover="highlight(helix.chain, helix.start, helix.end)"
                             data-ng-mouseleave="deselect()"
                             data-ng-repeat="helix in protein.helices">
                            <div class="elementId">
                                <div>H{{::$index + 1}}</div>
                            </div>
                            <div class="elements">
                                <div class="element">chain: {{::helix.chain}}<br />
                                    range: {{::helix.start}}-{{::helix.end}}</div>
                            </div>
                        </div>
                    </div>

                    <!-- kinks -->
                    <div data-ng-show="tab.isSelected(5)" class="representation">
                        <div class="chain"
                             data-ng-mouseover="highlight(kink.chain, kink.kinkPosition)"
                             data-ng-mouseleave="deselect()"
                             data-ng-repeat="kink in protein.kinks">
                            <div class="elementId">
                                <div>{{::kink.chain}}-{{::kink.kinkPosition}}</div>
                            </div>
                            <div class="elements">
                                <div class="element">chain: {{::kink.chain}}<br />
                                    kink position: {{::kink.kinkPosition}}<br />
                                    angle: {{::kink.angle}}<br />
                                    error: {{::kink.error}}<br />
                                    sequence: {{::kink.sequence}}</div>
                            </div>
                        </div>
                    </div>

                    <!-- mutations -->
                    <div data-ng-show="tab.isSelected(6)" class="representation">
                        <div class="chain" data-ng-repeat="chain in protein.chains">
                            <div class="elementId"
                                 data-ng-mouseover="highlight(chain.id)"
                                 data-ng-mouseleave="deselect()">
                                <div>chain {{::chain.id}}</div>
                            </div>
                            <div class="elements">
                                <div class="element"
                                     data-ng-mouseover="highlight(chain.id, mutation.position[0], mutation.position[1])"
                                     data-ng-mouseleave="deselect()"
                                     data-ng-repeat="mutation in chain.mutations">
                                    <h3>mutation</h3>
                                    {{::mutation.original}} &rarr; {{::mutation.variation}}<br />
                                    {{::mutation.description}}<br />
                                    position: {{::mutation.position | formatPositions}}<br />
                                    <div data-ng-show="mutation.evidence.length > 0">
                                        evidence: <span data-ng-repeat="evidence in mutation.evidence"><a href="#ref:{{::chain.id}}:{{::evidence}}">{{::evidence}}</a> </span>
                                    </div>
                                    <br />
                                </div>
                                <div class="element"
                                     data-ng-mouseover="highlight(chain.id, variant.position[0], variant.position[1])"
                                     data-ng-mouseleave="deselect()"
                                     data-ng-repeat="variant in chain.variants">
                                    <h3>variant</h3>
                                    {{::variant.id}}<br />
                                    variation: {{::variant.original}} &rarr; {{::variant.variation}}<br />
                                    {{::variant.description}}<br />
                                    position: {{::variant.position | formatPositions}}<br />
                                    <div data-ng-show="variant.evidence.length > 0">
                                        evidence: <span data-ng-repeat="evidence in variant.evidence"><a href="#ref:{{::chain.id}}:{{::evidence}}">{{::evidence}}</a> </span>
                                    </div>
                                    <br />
                                </div>
                                <div class="element" data-ng-repeat="reference in chain.references">
                                    [<a name="ref:{{chain.id}}:{{$index + 1}}">{{$index + 1}}</a>] {{::reference.authors | formatAuthors}} {{::reference.title}} {{::reference.citation.name}} {{::reference.citation.date}}; {{::reference.citation.volume}}:{{::reference.citation.first}}-{{::reference.citation.last}}.<br />
                                    doi: <a target="_blank" data-ng-href="//dx.doi.org/{{::reference.doi}}">{{::reference.doi}}</a><br />
                                    PubMed: <a target="_blank" data-ng-href="//www.ncbi.nlm.nih.gov/pubmed/{{::reference.pubmed}}">{{::reference.pubmed}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        //TODO this is ugly
        $(this).delay(1000).queue(function() {
            $('.tse-scrollable').TrackpadScrollEmulator();

            $(this).dequeue();
        });
    </script>
</section>